IO feladatok/04 - Konyvek/konyvek/konyvek/obj
IO feladatok/06 - Roplabda/Roplabda/Roplabda/bin
IO feladatok/11 - NB1/Nb1/Nb1/bin
IO feladatok/06 - Roplabda/Roplabda/Roplabda/obj
IO feladatok/11 - NB1/Nb1/Nb1/obj
IO feladatok/12 - EU tagallamok/Eu/Eu/obj
